body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.fa {
    font-size: 20px;
}

.fa-card {
    text-align: center;
    padding: 20px;
    font-size: 60px;
}

.form-1 {
    background-color: #d72830;
}

.form-2 {
    background-color: #4bb54a;
}

.form-3 {
    background-color: #4564ba;
 
}

.card {
    padding: 15px;
    margin: 30px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.01);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
}

.card:hover {
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.3);
}

.card-main {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 15px 0;
    color: #fff;
}

.main-description {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.add-border {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 25px 20px;
}

.return-button {
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
}

.remove-padding {
    padding: 0;
    margin: 0;
}


